<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="InetBanbkingV1">

	<listeners>
		<listener class-name="com.inetbanking.utilities.ExtentListeners"/>
		<listener class-name="com.inetbanking.utilities.ExtentManager"/>
	</listeners>


	<test name="BankingApp Test">
		<parameter name="browser" value="chrome"/>
		<classes>
			<!--  <class name="com.inetbanking.testCases.TC_001_Verify_LoginPage"/>-->
			<!--  <class name="com.inetbanking.testCases.TC_002_Verify_LoginPageDDT"/> -->
			<class name="com.inetbanking.testCases.TC_003_Add_New_Customer"/>
			
		</classes>

	</test>

</suite>